<div style="display: flex; flex-flow: column;">
    <div style="height: 10%;">
    <button (click)="handleClick()">
        download
    </button></div>
    <!-- <div id="contentToConvert2">
        <ag-charts-angular
            style="height: 400px;"
            [options]="options">
        </ag-charts-angular>
        <ag-charts-angular
            style="height: 400px;"
            [options]="options">
        </ag-charts-angular>
        <ag-charts-angular
            style="height: 400px;"
            [options]="options">
        </ag-charts-angular>
        <ag-charts-angular
            style="height: 400px;"
            [options]="options">
        </ag-charts-angular>
        <ag-charts-angular
            style="height: 400px;"
            [options]="options">
        </ag-charts-angular>
        <ag-charts-angular
            style="height: 400px;"
            [options]="options">
        </ag-charts-angular>
        <ag-charts-angular
            style="height: 400px;"
            [options]="options">
        </ag-charts-angular>
        <ag-charts-angular
            style="height: 400px;"
            [options]="options">
        </ag-charts-angular>
        <ag-charts-angular
            style="height: 400px;"
            [options]="options">
        </ag-charts-angular>
        <ag-charts-angular
            style="height: 400px;"
            [options]="options">
        </ag-charts-angular>
        <ag-charts-angular
            style="height: 400px;"
            [options]="options">
        </ag-charts-angular>
        <ag-charts-angular
            style="height: 400px;"
            [options]="options">
        </ag-charts-angular>
        <ag-charts-angular
            style="height: 400px;"
            [options]="options">
        </ag-charts-angular>
        <ag-charts-angular
            style="height: 400px;"
            [options]="options">
        </ag-charts-angular>
        <ag-charts-angular
            style="height: 400px;"
            [options]="options">
        </ag-charts-angular>
        <ag-charts-angular
            style="height: 400px;"
            [options]="options">
        </ag-charts-angular>
        <ag-charts-angular
            style="height: 400px;"
            [options]="options">
        </ag-charts-angular>
        <ag-charts-angular
            style="height: 400px;"
            [options]="options">
        </ag-charts-angular>
    </div> -->

    <div id="contentToConvert2" #pdfTable>
        <div style="display: flex; flex-flow: row; justify-content: center;">
            <ag-charts-angular
                style="height: 50%;"
                [options]="options">
            </ag-charts-angular>
            <ag-charts-angular
                style="height: 50%;"
                [options]="options">
            </ag-charts-angular>
        </div>

        <div style="display: flex; flex-flow: row; justify-content: center;">
            <ag-charts-angular
                style="height: 50%;"
                [options]="options">
            </ag-charts-angular>
            <ag-charts-angular
                style="height: 50%;"
                [options]="options">
            </ag-charts-angular>
        </div>

        <div style="display: flex; flex-flow: row; justify-content: center;">
            <ag-charts-angular
                style="height: 50%;"
                [options]="options">
            </ag-charts-angular>
            <ag-charts-angular
                style="height: 50%;"
                [options]="options">
            </ag-charts-angular>
        </div>

        <div style="display: flex; flex-flow: row; justify-content: center;">
            <ag-charts-angular
                style="height: 50%;"
                [options]="options">
            </ag-charts-angular>
            <ag-charts-angular
                style="height: 50%;"
                [options]="options">
            </ag-charts-angular>
        </div>

        <div style="display: flex; flex-flow: row; justify-content: center;">
            <ag-charts-angular
                style="height: 50%;"
                [options]="options">
            </ag-charts-angular>
            <ag-charts-angular
                style="height: 50%;"
                [options]="options">
            </ag-charts-angular>
        </div>

        <div style="display: flex; flex-flow: row; justify-content: center;">
            <ag-charts-angular
                style="height: 50%;"
                [options]="options">
            </ag-charts-angular>
            <ag-charts-angular
                style="height: 50%;"
                [options]="options">
            </ag-charts-angular>
        </div>

        <div style="display: flex; flex-flow: row; justify-content: center;">
            <ag-charts-angular
                style="height: 50%;"
                [options]="options">
            </ag-charts-angular>
            <ag-charts-angular
                style="height: 50%;"
                [options]="options">
            </ag-charts-angular>
        </div>

        <div style="display: flex; flex-flow: row; justify-content: center;">
            <ag-charts-angular
                style="height: 50%;"
                [options]="options">
            </ag-charts-angular>
            <ag-charts-angular
                style="height: 50%;"
                [options]="options">
            </ag-charts-angular>
        </div>

        <div style="display: flex; flex-flow: row; justify-content: center;">
            <ag-charts-angular
                style="height: 50%;"
                [options]="options">
            </ag-charts-angular>
            <ag-charts-angular
                style="height: 50%;"
                [options]="options">
            </ag-charts-angular>
        </div>

        <div style="display: flex; flex-flow: row; justify-content: center;">
            <ag-charts-angular
                style="height: 50%;"
                [options]="options">
            </ag-charts-angular>
            <ag-charts-angular
                style="height: 50%;"
                [options]="options">
            </ag-charts-angular>
        </div>

        <div style="display: flex; flex-flow: row; justify-content: center;">
            <ag-charts-angular
                style="height: 50%;"
                [options]="options">
            </ag-charts-angular>
            <ag-charts-angular
                style="height: 50%;"
                [options]="options">
            </ag-charts-angular>
        </div>

        <div style="display: flex; flex-flow: row; justify-content: center;">
            <ag-charts-angular
                style="height: 50%;"
                [options]="options">
            </ag-charts-angular>
            <ag-charts-angular
                style="height: 50%;"
                [options]="options">
            </ag-charts-angular>
        </div>

        <div style="display: flex; flex-flow: row; justify-content: center;">
            <ag-charts-angular
                style="height: 50%;"
                [options]="options">
            </ag-charts-angular>
            <ag-charts-angular
                style="height: 50%;"
                [options]="options">
            </ag-charts-angular>
        </div>

        <div style="display: flex; flex-flow: row; justify-content: center;">
            <ag-charts-angular
                style="height: 50%;"
                [options]="options">
            </ag-charts-angular>
            <ag-charts-angular
                style="height: 50%;"
                [options]="options">
            </ag-charts-angular>
        </div>

        <div style="display: flex; flex-flow: row; justify-content: center;">
            <ag-charts-angular
                style="height: 50%;"
                [options]="options">
            </ag-charts-angular>
            <ag-charts-angular
                style="height: 50%;"
                [options]="options">
            </ag-charts-angular>
        </div>

        <div style="display: flex; flex-flow: row; justify-content: center;">
            <ag-charts-angular
                style="height: 50%;"
                [options]="options">
            </ag-charts-angular>
            <ag-charts-angular
                style="height: 50%;"
                [options]="options">
            </ag-charts-angular>
        </div>

        <div style="display: flex; flex-flow: row; justify-content: center;">
            <ag-charts-angular
                style="height: 50%;"
                [options]="options">
            </ag-charts-angular>
            <ag-charts-angular
                style="height: 50%;"
                [options]="options">
            </ag-charts-angular>
        </div>

        <div style="display: flex; flex-flow: row; justify-content: center;">
            <ag-charts-angular
                style="height: 50%;"
                [options]="options">
            </ag-charts-angular>
            <ag-charts-angular
                style="height: 50%;"
                [options]="options">
            </ag-charts-angular>
        </div>

        <div style="display: flex; flex-flow: row; justify-content: center;">
            <ag-charts-angular
                style="height: 50%;"
                [options]="options">
            </ag-charts-angular>
            <ag-charts-angular
                style="height: 50%;"
                [options]="options">
            </ag-charts-angular>
        </div>

        <div style="display: flex; flex-flow: row; justify-content: center;">
            <ag-charts-angular
                style="height: 50%;"
                [options]="options">
            </ag-charts-angular>
            <ag-charts-angular
                style="height: 50%;"
                [options]="options">
            </ag-charts-angular>
        </div>

        <div style="display: flex; flex-flow: row; justify-content: center;">
            <ag-charts-angular
                style="height: 50%;"
                [options]="options">
            </ag-charts-angular>
            <ag-charts-angular
                style="height: 50%;"
                [options]="options">
            </ag-charts-angular>
        </div>

        <div style="display: flex; flex-flow: row; justify-content: center;">
            <ag-charts-angular
                style="height: 50%;"
                [options]="options">
            </ag-charts-angular>
            <ag-charts-angular
                style="height: 50%;"
                [options]="options">
            </ag-charts-angular>
        </div>

        <div style="display: flex; flex-flow: row; justify-content: center;">
            <ag-charts-angular
                style="height: 50%;"
                [options]="options">
            </ag-charts-angular>
            <ag-charts-angular
                style="height: 50%;"
                [options]="options">
            </ag-charts-angular>
        </div>

        <div style="display: flex; flex-flow: row; justify-content: center;">
            <ag-charts-angular
                style="height: 50%;"
                [options]="options">
            </ag-charts-angular>
            <ag-charts-angular
                style="height: 50%;"
                [options]="options">
            </ag-charts-angular>
        </div>

        <div style="display: flex; flex-flow: row; justify-content: center;">
            <ag-charts-angular
                style="height: 50%;"
                [options]="options">
            </ag-charts-angular>
            <ag-charts-angular
                style="height: 50%;"
                [options]="options">
            </ag-charts-angular>
        </div>

        <div style="display: flex; flex-flow: row; justify-content: center;">
            <ag-charts-angular
                style="height: 50%;"
                [options]="options">
            </ag-charts-angular>
            <ag-charts-angular
                style="height: 50%;"
                [options]="options">
            </ag-charts-angular>
        </div>

        <div style="display: flex; flex-flow: row; justify-content: center;">
            <ag-charts-angular
                style="height: 50%;"
                [options]="options">
            </ag-charts-angular>
            <ag-charts-angular
                style="height: 50%;"
                [options]="options">
            </ag-charts-angular>
        </div>
        
        
    </div>
</div>